.title{
    font-weight: bolder;
    color:#677db7;
}

ion-content{
    --background: #F0F4Fd;

    p{
        font-size: 16px;
        line-height: 22px;
        font-weight: 400;
        margin: 0;
    }
}