
<ion-item lines = "none" style = "--ion-background-color: #677db7">
 <p class = "hello"> Hi There! <br>I am Travis, your Daily Assistant </p>
  </ion-item>

<ion-content style = "--ion-background-color: #677db7">
<div class = "landingPic">
  <img src="/assets\weatherSearchLoading.jpg"/>
</div>

<div class = "container">
<!-- <ion-button [routerLink]="['/home']" class ="button" >Check the Weather</ion-button> -->
<p><span> Click on the tabs below <br> <br> to prepare for your day</span></p>
<!-- <ion-button [routerLink]="['/packing-list']" class ="button" >Manage Your To Do List</ion-button> -->
</div>
</ion-content>

